<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="log/console-internal.log"
      internalLogLevel="Info" >

    <targets>
        <!-- Trace -->
        <target xsi:type="File" name="trace" fileName="log/trace-${shortdate}.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

        <!-- Info -->
        <target xsi:type="File" name="info" fileName="log/info-${shortdate}.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
        <!-- Debug -->
        <target xsi:type="File" name="debug" fileName="log/debug-${shortdate}.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

        <!-- Eventlog -->
        <target xsi:type="File" name="event" fileName="log/event-${shortdate}.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

        <!-- Errorlog -->
        <target xsi:type="File" name="error" fileName="log/error.log"
                layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="trace" />
        <logger name="*" minlevel="Info" writeTo="event" />
        <logger name="*" minlevel="Debug" writeTo="debug" />
        <logger name="*" minlevel="Warn" writeTo="event" />
        <logger name="*" minlevel="Error" writeTo="error" />
    </rules>
</nlog>